<div class="container">
  <div class="row">
    <div class="col-sm-3">
        <%= image_tag User.gravatar_url(current_user, 150), class: "profile-pic" %>
    </div>

    <div class="col-sm-9">
      <h2>Profile</h2>

      <% if user_signed_in? %>
      <div class="form-group">
        <p>
          <strong>Username:</strong><br />
          <%= current_user.username %>
        </p>
        <p>
          <strong>Email Address:</strong><br />
          <%= current_user.email %>
        </p>
      </div>

      <div class="form-group">
        <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-success btn"  %>
      </div>

    </div>

    <% end %>
    
  </div>
</div>
