
<div class="container-fixed welcome-background height-full">
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Blocitoff</h1>
      <p>A self-destructing to-do list to keep you focused on the things that really matter.</p>
    </div>
  </div>
</div>
