<div class="container-fixed welcome-background height-full">
  <div class="container">
    <div class="jumbotron text-center">
        <h1>Start each week with a clean slate</h1>
        <h3>A self-destructing to-do list to keep you focused on the things that really matter.</h3>
        <h3>Because if it doens't get don this week we will just...</h3>
        <h3>Knockitoff.</h3>
        <hr>
        <p>
          Knockitoff is a self-destructing to-do list that makes a difficult decision on your behalf.
          After a week on the list, your to-do item will be removed, keeping your list short and fresh.
        </p>
    </div>
  </div>
</div>
