<div class="jumbotron">
<p>Do you fear looking at last week's to-do items every Monday morning?</p>
<p>Do you hesitate putting it on the list?</p>
<p>Are you afraid that it will haunt you and taunt you forever?</p>
</div>


<div class="container-fixed welcome-background height-full">
  <div class="container">
    <div class="jumbotron text-center">
        <h1>Start each week with a clean slate</h1>
        <h3>A self-destructing to-do list to keep you focused on the things that really matter.</h3>
        <h3>Because if you don't get it done this week we will just...</h3>
        <h3>Knockitoff.</h3>
    </div>
  </div>
</div>
