<%= form_for [user, item], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter a new todo item." %>
  </div>
  <%= f.submit "Submit Item", class: 'btn btn-default pull-right' %>
<% end %>
