<tr id="item-<%=item.id%>">
  <td><%= "#{item.name}" %></td>
  <td class="text-center"><%= calculate_days_left(item) %></td>
  <td class="text-center"><%= link_to "done", item, method: :delete, class: 'btn btn-xs btn-success', remote: true %></td>
</tr>
